.item {
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px 10px;
    background-color: gainsboro;
    border-radius: 10px;
    box-shadow: 10px;  
    margin: 2%;
    box-shadow: inset;
    width: max-content;
    
}

.polic{
    background-color: gainsboro;
}

.polic_red{
    background-color: rgb(255, 0, 13);
}