

.item {
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 10px;  
    margin: 2%;
    width: max-content;
    font-family: 'Arial Black';
    font-size: 20px;
    background-color: rgb(184, 226, 219);
    column-width: auto;
    display: grid;
    
}
.Head{
    font-weight: 100;
    

}

.polic_gray{
    background-color: gainsboro;
}

.polic_red{
    background-color: rgb(255, 0, 13);
}

.polic_yellow{
    background-color: yellow;
}

.inspection_gray{
    background-color: gainsboro;
}

.inspection_red{
    background-color: rgb(255, 0, 13);
}

.inspection_yellow{
    background-color: yellow;
}

.taxo_gray{
    background-color: gainsboro;
}

.taxo_red{
    background-color: rgb(255, 0, 13);
}

.taxo_yellow{
    background-color: yellow;
}
